<div id="stations-details">
  <p class="govuk-body-s govuk-!-margin-bottom-1">Monitoring stations <span id="stations-count"></span></p>
  <div id="stations-content">
    <p class="govuk-body-s" id="stations-loading">Loading&hellip;</p>
  </div>
</div>
