{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/map-assets/dist/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}{% endblock %}

{% block pageScripts %}
  <script src="/map-assets/dist/umd/index.js"></script>
  <script src="/map-assets/providers/maplibre/dist/umd/index.js"></script>
  <script src="{{ getAssetPath('src/client/javascripts/map.js') }}"></script>
{% endblock %}